<div [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    </mat-toolbar>

    <mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <div class="top-bar">
                    <h1 class="title has-text-primary">
                        Listas
                    </h1>
                    <div class="dropdown is-hoverable is-pulled-right is-right">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                <span class="icon is-small">
                  <i class="fas fa-cog" aria-hidden="true"></i>
                </span>
              </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                            <div class="dropdown-content">
                                <a class="dropdown-item" (click)="toggleModalList()">
                  Editar titulo
                </a>
                                <a class="dropdown-item" (click)="onDeleteListClick()">
                  Eliminar lista actual
                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-menu">
                    <a class="list-menu-item has-icons-right" *ngFor="let list of lists | sortBy: 'desc':'title'" [routerLink]="['/lists/', list._id]" routerLinkActive="is-active">
                        <p>{{ list.title }}</p>
                    </a>
                </div>
                <button class="button new-list-button is-primary has-text-white" [routerLink]="['/new-list']" routerLinkActive="router-link-active">
          + Nueva lista
        </button>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="centered-content">
                <div class="to-do-view-container">
                    <div class="to-do-list-container has-background-light">
                        <div>
                            <div class="top-bar">
                                <h1 class="title has-text-primary">
                                    Tareas
                                </h1>
                                <div class="dropdown is-hoverable is-pulled-right is-right">
                                    <div class="dropdown-trigger">
                                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                      <span>Ordenar por</span>
                      <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </button>
                                    </div>
                                    <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                                        <div class="dropdown-content">
                                            <a class="dropdown-item" (click)="setOrder('title')">
                                              Alfabeticamente
                                              <i [ngClass]="{'fas fa-sort-alpha-down is-pulled-right': reverse==true,'fas fa-sort-alpha-up is-pulled-right': reverse==false}"></i>
                                            </a>
                                            <a class="dropdown-item" (click)="setOrder('dateCreated')">Fecha<i class="fas fa-calendar-alt is-pulled-right" aria-hidden="true"></i>
                        </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="listTask">
                                <div class="task" *ngFor="let task of tasks | orderBy: order:reverse" (click)="onTaskClick(task)" [ngClass]="{ completed: task.completed }">
                                    <div class="task-text">
                                        <p>{{ task.title }}</p>
                                    </div>
                                    <span class="tag is-danger is-light is-pulled-right">{{
                    task.dateCreated | differenceDays
                  }}</span>
                                    <div class="task-buttons">
                                        <button class="button is-danger is-pulled-right" style="margin-left: 10px;" (click)="onDeleteTaskClick(task._id)">
                      <span class="icon is-small">
                        <i class="fas fa-trash" aria-hidden="true"></i>
                      </span>
                    </button>
                                        <button class="button is-light is-pulled-right" (click)="toggleModalTask(task._id)">
                      <span class="icon is-small">
                        <i class="fas fa-edit" aria-hidden="true"></i>
                      </span>
                    </button>
                                    </div>
                                </div>
                            </div>
                            <button class="button circle-add-button is-primary" [routerLink]="['./new-task']" routerLinkActive="router-link-active ">
                <img src="../../../assets/img/plus-icon.svg " />
              </button>
                        </div>
                    </div>
                </div>
                <app-modal-edit [isModalListActive]="isModalListActive" [currentListId]="currentListId" [taskId]="taskId" [text]="textForModal" (closeModalActive)="closeModal($event)" *ngIf="isModalListActive"></app-modal-edit>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>