<div class="centered-content">
    <div class="to-do-view-container">
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Lists
            </h1>
            <div class="list-menu">
                <a class="list-menu-item">
                    <p>Lista 1</p>
                </a>
                <a class="list-menu-item">
                    <p>Lista 2</p>
                </a>
                <a class="list-menu-item">
                    <p>Lista 3</p>
                </a>
            </div>

            <button class="button is-primary has-text-white">
        + Nueva lista
      </button>
        </div>
        <div class="to-do-list-container has-background-light">
            <div>
                <div class="top-bar">
                    <h1 class="title has-text-primary">
                        Tasks
                    </h1>
                </div>
                <!-- Task Elements -->
                <div class="task">
                    <div class="task-text">
                        <p>Hola tarea</p>
                    </div>
                </div>
                <div class="task">
                    <div class="task-text">
                        <p>Hola tarea</p>
                    </div>
                </div>
                <div class="task complete">
                    <div class="task-text">
                        <p>Hola tarea</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>